@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
}
::-webkit-scrollbar{
    background-color: #000;
    width: 0px;
}
.container {
    position: absolute;
    z-index: 999;
    width: 50%;
    margin: 0 auto;
    background-color: #252424;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}
header {
    background-color: #FF4500; 
    color: #fff2a6; 
    padding: 10px 0;
    border-radius: 20px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}
header h1 {
    margin: 0;
    font-size: 40px;

}
.content {
    padding: 20px;
}
.content h2 {
    color: #FF4500; 
    font-size: 30px;

    animation: fadeIn 2s ease-in-out;
}
.cta {
    text-align: center;
    margin: 20px 0;
}
.cta a {
    background-color: #FF4500; /* Orange */
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.cta a:hover {
    background-color: #DC143C; /* Red */
}
.event-roadmap {
    padding: 20px;
    border-radius: 5px;
    animation: fadeIn 3s ease-in-out;
}
#infographic .circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 7px double;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 40px;
    position: absolute;
    left: 50%;
    margin: 40px 0;
 }
 #infographic section:nth-child(odd) .circle {
    transform: translateX(-100%);
 }
 
 #infographic article {
    max-width: 310px;
    margin-bottom: 20px;
    cursor: pointer;
    left: 45%;
    position: relative;
 }

 #infographic article header i {
    display: flex;
    font-size: 4em;
    border-radius: 50%;
    background-clip: padding-box;
    padding: 14px;
    transition: transform 0.4s;
    color: #fff;
    border: 16px solid var(--bs-dark);
    margin: -16px 0 -16px -20px;
 }
 #infographic article:hover header i {
    transform: scale(1.2);
 }
 #infographic article.active header i {
    transform: none;
 }
 
 #infographic article .body {
    background: var(--bgColor);
    padding: 0 20px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    max-height: 0;
    transition: max-height 0.5s, padding 0.5s;
    overflow: hidden;
 }
 #infographic article .body .btn {
    padding: 3px 10px;
    text-transform: uppercase;
 }
 #infographic :nth-child(even) article {
    text-align: right;
    transform: translateX(-100%);
 }
 #infographic :nth-child(even) article header {
    flex-flow: row-reverse;
 }
 #infographic :nth-child(even) article header i {
    margin: -16px -20px -16px 0;
 }

 #infographic article.active .body {
    padding: 20px;
    max-height: 300px;
    border: 1px solid;
    border-radius: 20px;
    background-color: #FF4500;
 }
 

 #infographic article[data-step="1"] {
    margin-left: 6px;
 }
 #infographic article[data-step="2"] {
    margin-left: 54px;
 }
 #infographic article[data-step="3"] {
    margin-left: 71px;
 }
 #infographic article[data-step="4"] {
    margin-left: 61px;
 }
 #infographic article[data-step="5"] {
    margin-left: 22px;
 }
 #infographic article[data-step="6"] {
    margin-left: -5px;
 }
 #infographic article[data-step="7"] {
    margin-left: -54px;
 }
 #infographic article[data-step="8"] {
    margin-left: -70px;
 }
 #infographic article[data-step="9"] {
    margin-left: -60px;
 }
 #infographic article[data-step="10"] {
    margin-left: -21px;
 }
 #infographic article[data-step="11"] {
    margin-left: 7px;
 }
 #infographic article[data-step="12"] {
    margin-left: 55px;
 }
 #infographic article[data-step="13"] {
    margin-left: 73px;
 }
 #infographic article[data-step="14"] {
    margin-left: 62px;
 }
 #infographic article[data-step="15"] {
    margin-left: 23px;
 }
 #infographic article[data-step="16"] {
    margin-left: -102px;
 }
 .controls{
    margin-top: 20px;

 }
 .controls a{
    padding: 3px 10px;
    text-transform: uppercase;
    border: 1px solid rgb(255, 255, 255);
    text-decoration: none;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
    background-color: #be0505;
}
.animate 
{
  position: absolute;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}
.animate::before 
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000,rgb(255, 68, 0),#000);
  animation: animate 5s linear infinite;
}
@keyframes animate 
{
  0%
  {
    transform: translateY(-100%);
  }
  100%
  {
    transform: translateY(100%);
  }
}
.animate span 
{
  display: block;
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background: #181818;
  z-index: 2;
  transition: 1.5s;
}
.animate span:hover 
{
  background: rgb(255, 60, 0);
  transition: 0s;
}
